@{
    ViewData["Title"] = "Index";
}

<div>
    <h4>Bienvenidos queridos subditos a...</h4>
    <h1>PreguntadORT</h1>
    <img src="images/LogoPreguntadORT.png" alt="Logo de PreguntadORT"/>
</div>

<div>
    <p>PreguntadORT es una plataforma de preguntas y respuestas desarrollada por estudiantes de la Secundaria ORT Argentina. Nuestro objetivo es proporcionar un espacio donde los estudiantes puedan compartir conocimientos, resolver dudas y colaborar en su aprendizaje.</p>
    <p>En PreguntadORT, los usuarios deben:</p>
    <ul>
        <li>Elegir dificultad y categoría a responder (se pueden elegir todas las dificultades o categorías).</li>
        <li>Responder las preguntas.</li>
        <li>Volver a jugar.</li>
        <li>Intentar tener el puntaje más alto.</li>
    </ul>
    <p>¡Únete a nuestra comunidad y comienza a compartir tu conocimiento hoy mismo!</p>
</div>

<div>
    <button type="button" class="btn btn-info" onclick="irAConfigurar()">
        Ir a Configurar Juego
    </button>
</div>

<script>
function irAConfigurar() {
    console.log('Yendo a configurar juego');
    location.href = '@Url.Action("ConfigurarJuego")';
}
</script>
